@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "titiLight";
    src: url('./assets/fonts/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: "titiRegular";
    src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: "titiSemibold";
    src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
    font-family: "titiBold";
    src: url('./assets/fonts/TitilliumWeb-Bold.ttf');
}